/**********************************************************
   Media Queries Start
**********************************************************/

@media only screen and (max-width:768) {
    html {
      font-size: 48%;
    }
  }
  
  @media only screen and (max-width:450px) {
    html {
      font-size: 35%;
    }
  }
  
  @media only screen and (max-width:300px) {
    html {
      font-size: 25%;
    }
  }
  /**********************************************************
     Media Queries End
  **********************************************************/